<%- include("partials/header.ejs") %>

<% if (locals.title && locals.description) { %>
    <h1>
      <%= title %>
        <%= description %>
    </h1>
    <% } else { %>
      <h1>Write a Blog Post below 🤟</h1>
      <% } %>

<form action="/submit" method="POST">
  <input type="text" name="title" placeholder="Title" />
  <br />
  <hr />
  <input type="text" name="description" placeholder="Entry" />
  <br />
  <br />
  <input type="submit" value="Submit" />
</form>

<%- include("partials/footer.ejs") %>
